@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sairaHeader;
  src: url("../fonts/Saira/Saira_ExtraCondensed-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: sairaBody;
  src: url("../fonts/Saira/Saira_Condensed-Bold.ttf");
}

@layer base {
  html {
    height: 100%;
    font-family: "sairaHeader", system-ui, sans-serif;
  }

  body {
    min-height: 100vh;
  }

  #app {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }
  .animate-bounce-new {
    animation: shake 0.3s infinite;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}

.exact-active-link {
  @apply text-white-light;
}

@media (max-width: 1220px) {
  .right-split {
    display: none;
  }
}
