@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sairaHeader;
  src: url("../fonts/Saira/Saira_ExtraCondensed-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: sairaBody;
  src: url("../fonts/Saira/Saira_Condensed-Bold.ttf");
}

@layer base {
  html {
    font-family: "sairaHeader", system-ui, sans-serif;
  }
  .animate-bounce-new {
    animation: bounce 0.3s infinite;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    transform: translateY(5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

.exact-active-link {
  @apply text-white-light;
}
