@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: sairaHeader;
  src: url("../fonts/Saira/Saira_ExtraCondensed-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: sairaBody;
  src: url("../fonts/Saira/Saira_Condensed-Bold.ttf");
}

@layer base {
  html {
    font-family: "sairaHeader", system-ui, sans-serif;
  }
}

.exact-active-link {
  @apply text-white-light;
}
