h1 {
    color:#DFE2DB;
    text-align: center;
}

h1 span{
    color: #C10206;
}

.cap {
    color:#C10206;
    text-align: center;
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.no-recom {
    color: #DFE2DB;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
}

.horizontal-card {
    display: flex;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

.horizontal-text {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: large;
    color:#DFE2DB;

    
}

.horizontal-img {
    width: 330px;
    height: 160px;
    aspect-ratio: 5/2;
    object-fit: fill;
}

span {
    color: #C10206;
}

.name-col {
    cursor: pointer;
}

.a-steam-img {
    color: inherit;
    text-decoration:none;
    margin-left: 70px;
}

.horizontal-name-price-img {
    display: flex;
}

.results-steam-img {
    width: 40px;
    height: 40px;
    background-color:#DFE2DB;
    border-radius: 10rem;
}

.results-steam-img:hover {
    opacity: 0.7;
}

